.task {
    display: flex;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.task.done {
    text-decoration: line-through;
}

.task .date {
    position: absolute;
    right: 40px;
}