.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list h1,
.todo-list h3 {
    margin-bottom: 20px;
}

.todo-list input[type=text] {
    margin-right: 10px;
    padding: 5px;
}

.todo-list .task{
    margin-bottom: 20px;
}

.todo-list .not-done-tasks {
    padding: 20px;
}

.todo-list ul {
    list-style-type: none;
}

.todo-list form {
    width: 280px;
    margin: auto;
}